* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.clock {
  min-width: 31.25rem;
  min-height: 31.25rem;
  font-size: 3rem;
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.5rem rgb(2, 8, 48);
  background-image: radial-gradient(circle, blue, rgb(2, 2, 41));
  box-shadow: 0 0 15px 15px gray;
}
.digit {
  transform: rotate(calc(30deg * var(--n)));
  position: absolute;
  top: 0.937rem;
  bottom: 0.937rem;
  color: white;
  text-shadow: 0 0 20px yellow;
}
.center {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%;
  border: solid 5px black;
  z-index: 5;
}
.hours,
.minutes,
.seconds {
  --rotate: 0;
  position: absolute;
  bottom: 50%;
  transform: rotate(calc(var(--rotate) * 1deg));
  transform-origin: bottom;
}
.hours {
  width: 0.75rem;
  height: 9rem;
  background-color: black;
  border-radius: 50%;
  z-index: 1;
}
.minutes {
  width: 0.65rem;
  height: 11.9rem;
  background-color: yellow;
  border-radius: 50%;
  z-index: 2;
}

.seconds {
  width: 0.3rem;
  height: 13rem;
  background-color: red;
  z-index: 3;
}
.contenedorFecha {
  display: flex;
  flex-direction: column;
  border: solid 2px white;
  background-image: radial-gradient(circle, blue, rgb(2, 2, 41));
  color: white;
  border-radius: 5px;
  width: 8.8rem;
  height: 3rem;
  position: absolute;
  right: 10.7rem;
  bottom: 8rem;
  z-index: 0;
}
.nombreDia {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  font-weight: bolder;
}

.dia {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 8.5rem;
  height: 1.5rem;
  font-size: 1.2rem;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

/* MEDIA-------------------------*/

@media (min-width: 320px) and (max-width: 570px) {
  .clock {
    min-width: 18rem;
    min-height: 18rem;
    font-size: 1.8rem;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.25rem rgb(2, 8, 48);
    background-image: radial-gradient(circle, blue, rgb(2, 2, 41));
    box-shadow: 0 0 5px 5px gray;
  }
  .digit {
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    top: 0.5rem;
    bottom: 0.5rem;
    color: white;
    text-shadow: 0 0 20px yellow;
  }
  .center {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    background-color: white;
    border-radius: 50%;
    border: solid 3px black;
    z-index: 5;
  }
  .hours,
  .minutes,
  .seconds {
    --rotate: 0;
    position: absolute;
    bottom: 50%;
    transform: rotate(calc(var(--rotate) * 1deg));
    transform-origin: bottom;
  }
  .hours {
    width: 0.5rem;
    height: 5rem;
    background-color: black;
    border-radius: 50%;
    z-index: 1;
  }
  .minutes {
    width: 0.4rem;
    height: 6rem;
    background-color: yellow;
    border-radius: 50%;
    z-index: 2;
  }

  .seconds {
    width: 0.2rem;
    height: 7rem;
    background-color: red;
    z-index: 3;
  }

  .contenedorFecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px white;
    background-image: radial-gradient(circle, blue, rgb(2, 2, 41));
    color: white;
    border-radius: 5px;
    width: 5rem;
    height: 2rem;
    position: absolute;
    right: 6.3rem;
    bottom: 4.5rem;
    z-index: 0;
  }

  .nombreDia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 1rem;
    font-size: 0.6rem;
    font-weight: bolder;
  }

  .dia {
    display: flex;
    width: 5rem;
    height: 1rem;
    font-size: 0.7rem;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
  }
}
